<ul><!-- note this is a temp fix -->
  <li data-type="button" data-key="who_did_what" onClick="toggleWhoDidWhatReport();">
    <a class="grouped-left ep_who_did_what" data-l10n-id="ep_who_did_what" title="Who did what?" aria-label="who did what">
      <button class="buttonicon buttonicon-who_did_what ep_who_did_what" data-l10n-id="ep_who_did_what_" title="Who did what?" aria-label="who_did_what">🔍</button>
    </a>
  </li>
</ul>
