<ul>
  <li data-type="button" data-key="who_did_what" onClick="toggleWhoDidWhatReport();">
    <a class="grouped-left ep_who_did_what buttonicon buttonicon-who_did_what"
       role="button" tabindex="0"
       data-l10n-id="ep_who_did_what"
       title="Who did what?">🔍</a>
  </li>
</ul>
