<div class="popup toolbar-popup ep_what_have_i_missed-popup" id="ep_what_have_i_missedModal">
  <div class="popup-content">
    <pre id="diffDisplay"></pre>
    <p>
      <button id="timesliderLink">To see further history visit the timeslider</button>.
    </p>
  </div>
</div>
